<div>
    <header>
        <a href={{id}}><h2>{{name}}</h2></a>
        <p>Posted by {{user.name}} on {{format_date date_created}}</p>
    </header>
    <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam fugit omnis molestias ex mollitia quisquam, veritatis ipsam ab sequi illo vel, commodi temporibus libero harum sunt amet, earum neque! Debitis.</p>
</div>