<h1>Dashboard</h1>
</nav>

<section>
    {{#each blogs as |blog|}}
    {{> homepage-details}}
    {{/each}}
</section>

<button id="newpost"><span id="plus">+</span> New Post</button>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    let postBtn = $("#newpost");

    newpost = () => {
        window.location.href = `/dashboard/${sessionStorage.getItem("user")}/new`
    }

    postBtn.on("click", newpost)
</script>