<h1>Edit Post</h1>
</nav>

<div id="login">
    <header>
    <h2>Edit a post</h2>
    </header>
    <div id="form">
        <p class="content">Title</p>
        <input class="newpoststuff" type="text" value={{blog.name}}></input>
        <p class="content">Content</p>
        <textarea class="newpoststuff" style="height: 100px; font-size: 20px;">{{blog.content}}</textarea>
        <button id="submit">Confirm</button>
        <button id="delete">Delete</button>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/update.js"></script>