<h1>The Tech Blog</h1>
</nav>

<div id="login">
    <header>
    <h2>Login</h2>
    </header>
    <div id="form">
        <p class="content">Username</p>
        <input></input>
        <p class="content">Password</p>
        <input></input>
        <div id="buttons">
            <a href="/signup" id="other">Sign up instead</a>
            <button id="loginBtn">Login</button>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="./js/login.js"></script>