<h1>New Post</h1>
</nav>

<div id="login">
    <header>
    <h2>Create a new post</h2>
    </header>
    <div id="form">
        <p class="content">Title</p>
        <input class="newpoststuff"></input>
        <p class="content">Content</p>
        <textarea class="newpoststuff" style="height: 100px; font-size: 20px;"></textarea>
        <button id="submit">Submit</button>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/post.js"></script>