<h1>The Tech Blog</h1>
</nav>

<div id="login">
    <header>
    <h2>Sign up</h2>
    </header>
    <div id="form">
        <p class="content">Username</p>
        <input></input>
        <p class="content">Email</p>
        <input></input>
        <p class="content">Password</p>
        <input></input>
        <div id="buttons">
            <a href="login" id="other">Log in instead</a>
            <button id="loginBtn">Sign up</button>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="./js/signup.js"></script>