body {
    background-color: #bad8bf;
}

a, #logout, #dashboard, #newpost, button {
    text-decoration: none;
    color: #bad8bf;
    background-color: #312727;
    border: 0px;
}

a:hover, #logout:hover, #dashboard:hover, #newpost:hover, button {
    text-decoration: none;
    color: #bad8bf;
    cursor: pointer;
}

nav {
    background-color: #312727;
    width: 100%;
    height: 150px;
}

nav a, button {
    color: #bad8bf;
    position: relative;
    font-size: 25px;
    top: 10px;
    margin-left: 3%;
}

h1 {
    background-color: #bad8bf;
    width: fit-content;
    color: #312727;
    margin-top: 35px;
    margin-left: 50px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
}

div {
    width: 50%;
    margin-left: 25%;
    margin-top: 20px;
    border: 5px solid #312727;
    border-radius: 5px;
}

div header h2 {
    font-size: 35px;
}

div header p {
    margin-top: 15px;
}

div header {
    display: flex;
    background-color: #312727;
    width: 100%;
    color: #858585;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    justify-content: space-between;
}

.content {
    font-size: 23px;
    padding: 10px;
}

#login p {
    padding-left: 0px;
    padding-bottom: 0px;
}

div input {
    width: 100%;
    height: 30px;
}

#form {
    min-width: 90%;
    max-width: 90%;
    border: 0px;
    margin: 0px;
    width: fit-content;
    margin-bottom: 20px;
    margin-left: 5%;
}

#buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 0px;
    margin: 0px;
}

#buttons button {
    margin: 0px;
}

#other {
    font-size: 25px;
    padding: 0px;
    border: 0px;
    margin-top: 15px;
    background-color: #bad8bf;
    color: #312727;
}

#other:hover {
    cursor: pointer;
}

#loginBtn {
    border-radius: 5px;
    padding: 6px;
    background-color: #312727;
}

#newpost {
    display: block;
    text-align: center;
    font-size: 30px;
    width: 16%;
    height: 50px;
    margin-left: 42%;
    margin-top: 10%;
}

#plus {
    left: 0px;
    font-size: 40px;
}

.newpoststuff {
    width: 100%;
    height: 50px;
    font-size: 30px;
}

#submit {
    width: 100%;
    height: 40px;
    margin: 0px;
}